body {
  background-color: #E5E4E2;
}

hr {
	background-color: #87AFC7;
  height: 1px;
}

#mountNode {
  color: #000;
  background-color: #AFDCEC;
  padding: 20px;
}

.game-help {
  color: #2B3856;
  background-color: #91BECE;
  padding: 20px;
}

.heading {
	font-weight:bolder;
  color: #2B3856;
}

.fa-star {
	margin: 0.5em;
  font-size: 24px;
  color: #2B3856;
}

.bronze {
  color: #CD7F32;
}

span {
	display: inline-block;
	margin: 0.5em;
  background-color: #2B3856;
  color: #fff;
  text-align: center;
  width: 24px;
  /*border-radius: 50%;*/
  cursor: pointer;
}

.badge {
  font-size: 100%;
}

.selected {
	background-color: #ccc;
  color: #999;
  cursor: not-allowed;
}

.used {
	background-color: #ada;
  color: #9b9;
  cursor: not-allowed;
}

.col-5, .col-2 {
  min-height: 150px;
}
