#mountNode {
  color: #000;
  background-color: #AFDCEC;
  padding: 20px;
}

.heading {
	font-weight:bolder;
  color: #2B3856;
}

.fa-star {
	margin: 0.5em;
  font-size: 24px;
  color: #2B3856;
}

span {
	display: inline-block;
	margin: 0.5em;
  background-color: #666;
  color: #fff;
  text-align: center;
  width: 24px;
  /*border-radius: 50%;*/
  cursor: pointer;
}

.selected {
	background-color: #ccc;
  color: #999;
  cursor: not-allowed;
}

.used {
	background-color: #ada;
  color: #9b9;
  cursor: not-allowed;
}
